*{
  margin: 0px;
  padding: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.2vw;
}

body{
  overflow: hidden;
}

nav{
  position: relative;
  width: 100%;
  height: 10%;
  background: #f2eeeb;
  font-size: 0;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
  margin-bottom: 3%;
}

nav a, #userFullname, #userPosition{
  color: #062102;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  vertical-align: middle; 
  padding: 1.7% 0 1.5% 0;
  margin: -0.8% 0 -0.8% 0;
}

.active{
  background-color: #299F7E; 
  color: white;
}

.active:hover{
  color: white;
  text-decoration: none;
}

.nav-pages{
  font-weight: bold;
}

nav a:not(.active){
  background-image: linear-gradient(to right,#299F7E,#299F7E 50%,#000 50%);
  background-size: 200% 100%;
  background-position: -100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

nav a:before {
  content: '';
  background: white;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

#nav1:before{
  content: '';
  background: white;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.4s ease-in-out;
}

/*nav a:hover:not(.active) {
  background-position: 0;
}*/

nav a:hover:not(.active)::before {
  width: 100%;
}

#userFullname, #userPosition{
  text-align:left;
  width: 49%;
  margin-left: 1%;
  margin-top: 0.05%;
  margin-bottom: 0.05%;
}

nav a:nth-child(5){
  width: 10%;
}

nav a:nth-child(2), nav a:nth-child(3), nav a:nth-child(4), nav a:nth-child(6), nav a:nth-child(7){
  width: 7%;
}

body{
  background: linear-gradient(to top, rgba(41,159,126,0.75), rgba(41,159,126,0.75)), url(../images/clinic.jpg) no-repeat top center;
  background-size: 100vw 100vh;
}

h1{
  padding-bottom: 3%;
  color:#F2F3EB;
  height: fit-content;
  font-size: 3vw;
}

#form_wrapper {
  display: flex;
  flex-direction: row;
}

#form_left {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 3%;
  margin-left: 4%;
  margin-right: 8%;
  margin-top: 5%;
  border: 3px solid white;
  border-top-color: yellow;
  border-right-color: white;
  border-bottom-color: black;
  background-color: rgba(41,159,126,0.75);
}

#vission{
  margin-bottom: 8%;
}

p{
  line-height: 24px;
}

#form_right {
  display: flex;
  flex-direction: row;
  width: 50%;
  height: 100%;
  padding-top: 8%;
}

#bsuUHS-logo{
  width: 37.5%;
  height: 37.5%;
  margin-top: 22.5%;
  margin-left: -2%;
  border: 3px solid white;
  border-radius: 50%;
  padding: 2%;
}

@supports (background: paint(houdini)) {
  @property --opacity {
    syntax: "<number>";
    initial-value: 0.5;
    inherits: false;
  }

  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

  @keyframes opacityChange {
    to {
      --opacity: 1;
    }
  }

  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
}

#form_left{
  animation: rotate 4s linear infinite, opacityChange 3s infinite alternate;
}

#bsu-logo{
  width: 50%;
  height: 50%;
  margin-left: -10%;
  margin-top: -12%;
  border: 3px solid white;
  border-radius: 50%;
}

#tableMedicalInfo{
  width: 75%;
  margin: 0 12.5% 0 12.5%;
}

#tablePersonalInfo{
  width: 96.5%;
}

#tablePersonalInfo input{
  margin: 0;
  padding: 0.25em;
}

.DocumentCode{
  width: 25%;
}

.RevisionNumber{
  width: 25%;
}

#topHeader{
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

#PhysicalExaminationHeader{
  display: flex;
  flex-direction: row;
  height: 11vh;
  width: 40vw;
  padding: 0 1% 0 1%;
}

#PhysicalExaminationHeader h3{
   padding-top: 4.5vh;
  padding-bottom: 6.5vh; 
  padding-left: 3%;
}

#ISO{
  width: 60vw;
  padding: 0 1% 0 1%;
}

nav a, #userFullname, nav div{
  color: #062102;
  text-decoration: none;
  position: relative;
  z-index: 1;
  display: inline-block;
  text-align: center;
  vertical-align: middle; 
  padding: 1.6% 0 1.7% 0;
  margin: -0.8% 0 -0.8% 0;
}

#userFullname{
    text-align:left;
    width: 44%;
    margin-left: 1%;
    margin-top: 0.05%;
    margin-bottom: 0.05%;
  }

  #nav5, #nav6{
    width: 10%;
  }

  #nav2, #nav3, #nav4, #nav7, #nav8{
    width: 7%;
  }

#TAHearingDistance, #TASpeech, #TAEyes, #TAEars, #TANose, #TAHead, #TAAbdomen, #TAGenitoUrinary, #TALymphGlands, #TASkin, #TAExtremities, #TADeformities, #TACavityAndThroat, #TALungs, #TAHeart, #TABreast, #TARadiologicExams, #TABloodAnalysis, #TAUrinalysis, #TAFecalysis, #TAPregnancyTest, #TAHBSAg{
  width: 100%;
  height: 5vh;
  overflow: hidden;
  resize: none;
  display: none;
}

#TxtOthers{
  height: 10vh;
  width: 100%;
  overflow: hidden;
  resize: none;
}

#TxtRemarks, #TxtRecommendation{
  height: 10vh;
  overflow: hidden;
  resize: none;
}

#TxtHearingDistanceOption, #TxtSpeechOption, #TxtEyesOption, #TxtEarsOption, #TxtNoseOption, #TxtHeadOption, #TxtAbdomenOption, #TxtGenitoUrinaryOption, #TxtLymphGlandsOption, #TxtSkinOption, #TxtExtremitiesOption, #TxtDeformitiesOption, #TxtCavityAndThroatOption, #TxtLungsOption, #TxtHeartOption, #TxtBreastOption, #TxtRadiologicExamsOption, #TxtBloodAnalysisOption, #TxtUrinalysisOption, #TxtFecalysisOption, #TxtPregnancyTestOption, #TxtHBSAgOption{
  height: 5vh;
  margin: 0;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin:  0;
  /* background-color: #299F7E; */
}

/* Dropdown Button */
.dropbtn {
  font-weight: bold;
  border: none;
 /*  background-color: #299F7E; */
  color: #062102;
  position: relative;
  display: inline-block;
  text-align: center;
  vertical-align: middle; 
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  width: 10vw;
  margin-top: 15%;
}

/* Links inside the dropdown */
.dropdown-content a {
  text-decoration: none;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropA{
  padding: 0 6.25vw 0 1vw;
}

.dropdown-content a:nth-child(2), .dropdown-content a:nth-child(3), .dropdown-content a:nth-child(4), .dropdown-content a:nth-child(5), .dropdown-content a:nth-child(6), .dropdown-content a:nth-child(7){
  padding: 0 8.10vw 0 1vw;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown 
.dropdown:hover .dropbtn {background-color: black;}*/
