*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
}

body{
    background: #299F7E;
}

/* ------------------ NAVIGATION BAR ------------------ */

.dropbtn{
     color: #062102;
}

.active{
    background-color: #299F7E; 
    color: white;
}

.nav-pages{
    font-weight: bold;
}

a:not(.active){
    background-image: linear-gradient(to right,#299F7E,#299F7E 50%,#000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

a:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

#nav1:before{
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.4s ease-in-out;
}

a:hover:not(.active) {
    background-position: 0;
}

a:hover:not(.active)::before {
    width: 100%;
}
/* ------------------ Tabs ------------------ */

.container{
    padding-top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.tabs{
    display: flex;
    flex-direction: column;
    width: 90%;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
    margin-bottom: 3%;
    border-radius: 16px;
}

.tabs-body{
    background-color: #f2eeeb;
}

.tabs-head{
    display: flex;
    align-items: stretch;
}

.tabs-toggle{
    display: flex;
    width: 50%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1.8vw;
    font-weight: bold;
    background-color: rgba(255,255,255,.2);
    color: rgba(255,255,255,.5);
}

#tab1{
    border-top-left-radius: 16px;
}

#tab2{
    border-top-right-radius: 16px;
}

#add-medical-information{
    margin-top: -2.25%;
}

.tabs-toggle.is-active{
    background: #f2eeeb;
    color: #062102;
}

.tabs-content{
    padding: 2%;
    display: none;
}

.tabs-content.is-active{
    display: block;
}

.tabs-text{
    color: #062102;
}

/* ------------------ Tabs-Content ------------------ */
.One-Info div, .Two-Info div, .Three-Info div, .Four-Info div{
    display: inline-block;
}

#IDPic{
    width: 10vw;
    height: 20vh;
    border: 1px solid black;
    float:right
}

#add-medical-information{
    padding-top: 2%;
}

.IDPicture{
    width: 98%;
}

.Course{
    width: 96%;
    padding: 0 1% 0 1%;
}

.Year, .Section{
    width: 46.85%;
    padding: 0 1% 0 1%;
}

.StudentIDNumber, .StudentImage, .Status, .StudentCategory, .StudentIDNumber1, .Date{
    width: 46.9%;
    padding: 0 1% 0 1%;
}

.Address, .StudentContactNumber, .GuardianParent, .GPCategory, .ContactPerson, .PGContactNumber{
    width: 45%;
    padding: 0 1% 0 3%;
}

.IDPicture{
    width: 96%;
    padding: 0 1% 0 1%;
}

#space1{
    padding-left: 2%;
}

.Age, .Birthdate, .Sex, .LMP, .Pregnancy, .Allergies, .Surgeries, .Injuries, .Illness{
    width: 28.5%;
    padding: 0 1% 0 3%;
}

.Lastname, .Firstname, .Middlename, .Extension, .StaffLastname, .StaffFirstname, .StaffMiddlename, .StaffExtension{
    width: 20.25%;
    padding: 0 1% 0 3%;
}

.Lastname1, .Firstname1, .Middlename1, .Extension1{
    width: 22.25%;
    padding: 0 1% 0 1%;
}

.StaffIDNumber{
    width: 45%;
    padding: 0 1% 0 3%;
}

.Remarks, .Recommendation{
    margin-top: 2%;
    width: 65%;
    padding: 0 1% 0 3%;
}

#StudentInfo{
    padding-left: 1%;
    padding-bottom: 2%;
    font-weight: bold;
    width: 45%;
}

#MedicalStaffInfo{
    padding-left: 3%;
    padding-bottom: 2%;
    font-weight: bold;
    width: 45%;
}

#ExaminedBy{
    font-weight: bold;
    margin-left: 25%;
}

#StudentInfo legend{
    text-align: center;
    padding-bottom: 3%;
}

#MedicalStaffInfo legend{
    padding-top: 3%;
    padding-bottom: 0.5%;
    margin-left: -6%;
}

legend{
    font-weight: bold;
    padding: 0 1% 0 1%;
    margin-bottom: 2%;
}

textarea{
    box-sizing: border-box;
    width: 145%;
}

textarea{
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #F2F2F2;
}

.form-button:hover {
    background: #299F7E;
    color: #F2F3EB;
  }

button, input{
    color: #5A5A5A;
    margin: 0;
}

table, td{
    border: 1px solid black;
}

input {
    line-height: normal;
}

input[type='text'], input[type='number'], input[type='date'], select, #TCourse, #TGPCategory, #TYear, #TSection, #TGPCategory1{
    background: none;
    border: none;
    border-bottom: solid 2px black;
    border-top: solid 1px gray;
    border-right: solid 1px gray;
    border-left: solid 1px gray;
    color: #062102;
    font-weight: 400;
    letter-spacing: 1px;
    margin: 0em 0 1.875em 0;
    padding: 0.5em 0.5em 0.3em 0.5em;
    text-transform: uppercase;
    width: 100%;
    box-sizing: border-box;
    transition: all 0.3s;
}

td input[type='number'], td input[type='text']{
    margin: 0;
    padding: 0.5em 0.5em 0.3em 0.5em;
}

.SecSex{
    cursor: pointer;
    margin-right: 3.5%;
}

.RadText{
    margin-left: 1%;
}

input[type='radio'] {
    width: 1.25vw;
    height: 1.25vw;
    margin-top: 2%;
    margin-bottom: 2%;
}

input[type='text']:focus, [type='number']:focus, [type='date']:focus{
  outline: none;
  padding: 0.5em 0 0.3em 0;
}

.form-button{
    overflow: visible;
    text-transform: none;
    border: solid 2px #062102;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    padding: 20px 35px;
    transition: all 0.3s;
    background: none;
    color: #062102;
    text-align: center;
    border-radius: 360px;
    
}

#twoButton, #twoButton1, #exportButton, #exportButton1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#twoButton, #twoButton1{
    margin-top: -3%;
}

#BtnAdd, #BtnClear, #BtnAdd1, #BtnClear1, #BtnEdit, #BtnSave, #BtnEdit1, #BtnSave1, #BtnPrint, #BtnPrint1, #BtnPDF, #BtnPDF1{
    display: none;
    margin-left: .5vw;
    margin-right: .5vw;
}

#BtnPrint, #BtnPDF, #BtnPrint1, #BtnPDF1{
    width: 100%;
    height: 75%;
}

#wholetab{
    display: none;
}

button:disabled, button:disabled:hover{
    background-color: gray;
    color: rgba(255,255,255,.5);
    border: solid 2px gray;
    cursor: default;
}

.submit{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2% 0 2% 0;
}
  
button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.button__svg {
    margin-left: 8px;
    height: 24px;
    width: 24px;
  }
  
#req{
    color: red;
}

#addMore{
    padding-left: 1%;
    color: #299F7E;
    cursor: pointer;
}

hr{
    width: 95%;
    margin: 0 2.5% 2% 2.5%;
}

table { 
    page-break-inside:auto; 
}

tr    { 
    page-break-inside:avoid; 
    page-break-after:auto; 
}

form{
    page-break-inside:auto; 
}

form .One-Info:not(#pageBreak1, #pageBreak2), form .Two-Info, form .Three-Info, form .Four-Info{
    page-break-inside:avoid; 
    page-break-after:auto; 
}

/* ------------------------------------- Changes Start Here ---------------------------------- */
.SchoolYear, .Height, .Weight, .BMI, .BloodPressure, .Temperature, .PulseRate, .VisionWithoutGlasses, .VisionWithGlasses, .HearingDistance, .Speech, .Eyes, .Ears, .Nose, .Head, .Abdomen, .GenitoUrinary, .LymphGlands, .Skin, .Extremities, .Deformities, .CavityAndThroat, .Lungs, .Heart, .Breast, .RadiologicExams, .BloodAnalysis, .Urinalysis, .Fecalysis, .PregnancyTest, .HBSAg{
    width: 25%;
}

.secondColumn{
    width: 25%;
}

#tableMedicalInfo{
    width: 95%;
    margin: 0 2.5% 0 2.5%;
}

#tablePersonalInfo{
    width: 96.5%;
}

#tablePersonalInfo input{
    margin: 0;
    padding: 0.25em;
}

.DocumentCode{
    width: 25%;
}

.RevisionNumber{
    width: 25%;
}

#topHeader{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

#PhysicalExaminationHeader{
    display: flex;
    flex-direction: row;
    height: 11vh;
    width: 40vw;
    padding: 0 1% 0 1%;
}

#PhysicalExaminationHeader h3{
    padding-top: 7.5%;
    padding-left: 3%;
}

#ISO{
    width: 60vw;
    padding: 0 1% 0 1%;
}

nav{
    position: fixed;
    display: block;
    width: 100%;
    height: 9.25%;    
    background: #f2eeeb;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    margin-bottom: 3%;
}

nav a, #userFullname, nav div{
    color: #062102;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    padding: 1.6% 0 1.7% 0;
    margin: -0.8% 0 -0.8% 0;
}

#userFullname{
    text-align:left;
    width: 44%;
    margin-left: 1%;
    margin-top: 0.05%;
    margin-bottom: 0.05%;
  }

  #nav5, #nav6{
    width: 10%;
  }

  #nav2, #nav3, #nav4, #nav7, #nav8{
    width: 7%;
  }

  #TAHearingDistance, #TASpeech, #TAEyes, #TAEars, #TANose, #TAHead, #TAAbdomen, #TAGenitoUrinary, #TALymphGlands, #TASkin, #TAExtremities, #TADeformities, #TACavityAndThroat, #TALungs, #TAHeart, #TABreast, #TARadiologicExams, #TABloodAnalysis, #TAUrinalysis, #TAFecalysis, #TAPregnancyTest, #TAHBSAg{
    width: 100%;
    height: 10vh;
    overflow: hidden;
    resize: none;
    display: none;
}

#TxtOthers{
    height: 10vh;
    width: 100%;
    overflow: hidden;
    resize: none;
}

#TxtRemarks, #TxtRecommendation{
    height: 10vh;
    overflow: hidden;
    resize: none;
}

#TxtHearingDistanceOption, #TxtSpeechOption, #TxtEyesOption, #TxtEarsOption, #TxtNoseOption, #TxtHeadOption, #TxtAbdomenOption, #TxtGenitoUrinaryOption, #TxtLymphGlandsOption, #TxtSkinOption, #TxtExtremitiesOption, #TxtDeformitiesOption, #TxtCavityAndThroatOption, #TxtLungsOption, #TxtHeartOption, #TxtBreastOption, #TxtRadiologicExamsOption, #TxtBloodAnalysisOption, #TxtUrinalysisOption, #TxtFecalysisOption, #TxtPregnancyTestOption, #TxtHBSAgOption{
    height: 10vh;
    margin: 0;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin:  0;
    /* background-color: #299F7E; */
  }
  
  /* Dropdown Button */
  .dropbtn {
    font-weight: bold;
    border: none;
   /*  background-color: #299F7E; */
    color: #062102;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10vw;
    margin-top: 15%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .dropA{
    padding: 0 6.25vw 0 1vw;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown 
  .dropdown:hover .dropbtn {background-color: black;}*/

  #bsuLogo{
    width: 6vw;
    height: 6vw;
  }

  .StudentImage label, .StudentImage input {
    display: none;
  }