*{
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2vw;
}

body{
    background: #299F7E;
}

/* ------------------ NAVIGATION BAR ------------------ */

nav{
    position: relative;
    width: 100%;
    height: 10%;
    background: #f2eeeb;
    font-size: 0;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.1);
    margin-bottom: 3%;
}

nav a, #userFullname{
    color: #062102;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    padding: 1.5% 0 1.3% 0;
    margin: -0.8% 0 -0.8% 0;
}

.active{
    background-color: #299F7E; 
    color: white;
    border-top: 1px solid #299F7E;
    border-bottom: 1px solid #299F7E;
}

.active:hover{
    color: white;
    text-decoration: none;
}

.nav-pages{
    font-weight: bold;
}

nav a:not(.active){
    background-image: linear-gradient(to right,#299F7E,#299F7E 50%,#000 50%);
    background-size: 200% 100%;
    background-position: -100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
}

nav a:before {
    content: '';
    background: white;
    display: block;
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 0;
    height: 3px;
    transition: all 0.3s ease-in-out;
}

nav a:hover:not(.active) {
    background-position: 0;
}

nav a:hover:not(.active)::before {
    width: 100%;
}

#userFullname{
    text-align:left;
    width: 49%;
    margin-left: 1%;
    margin-top: 0.05%;
    margin-bottom: 0.05%;
  }

nav a:nth-child(5){
    width: 10%;
  }
  
  nav a:nth-child(2), nav a:nth-child(3), nav a:nth-child(4), nav a:nth-child(6), nav a:nth-child(7){
    width: 7%;
  }

/* ------------------ Tabs ------------------ */
.cont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 90vw;
}

.tabs{
    display: flex;
    flex-direction: column;
    width: 100%;
    background: #f2eeeb;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.05);
    margin-bottom: 3%;
    border-radius: 16px;
}

#ListPatient{
   border: 1px solid black;
}

.tabs-head{
    display: flex;
    align-items: stretch;
}

.tabs-toggle{
    display: flex;
    width: 100%;
    padding: 2%;
    align-items: center;
    justify-content: center;
    background: #f2eeeb;
    font-size: 1.8vw;
    font-weight: bold;
    color: #062102;
}

#tab1{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.tabs-toggle.is-active{
    background: #f2eeeb;
}

.tabs-content{
    padding: 2%;
    display: none;
}

.tabs-content.is-active{
    display: block;
}

.tabs-text{
    color: #062102;
}

td a{
    width: 100%;
}

.viewBTN{
    background-color: #299F7E;
    border: 1px solid #299F7E;
}

.viewBTN:hover{
    background: #23886b;
}

#newRecord{
    width: 25%;
    margin-left: 2%;
    background-color: #299F7E;
    border: 1px solid #299F7E;
}

#newRecord:hover{
    background: #23886b;
}

#notif{
    display: flex;
}

#NumRecord{
    padding-top: 1%;
    margin-left: 45%;
    font-weight: bold;
}

#archiveBTN{
    margin-top: 3%;
}


.pagination > li > a, .pagination > li > span{color: gray;}
.pagination > li.active > a, .pagination > li.active > span{background-color:#299F7E}
.pagination:hover > li.active > a, .pagination > li.active > span{background-color:#299F7E}
.pagination:not(:hover) > li.active > a, .pagination > li.active > span{background-color:#299F7E}

/* ------------------------------------- Changes Start Here ---------------------------------- */

#tableMedicalInfo{
    width: 75%;
    margin: 0 12.5% 0 12.5%;
}

#tablePersonalInfo{
    width: 96.5%;
}

#tablePersonalInfo input{
    margin: 0;
    padding: 0.25em;
}

.DocumentCode{
    width: 25%;
}

.RevisionNumber{
    width: 25%;
}

#topHeader{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
}

#PhysicalExaminationHeader{
    display: flex;
    flex-direction: row;
    height: 11vh;
    width: 40vw;
    padding: 0 1% 0 1%;
}

#PhysicalExaminationHeader h3{
     padding-top: 4.5vh;
    padding-bottom: 6.5vh; 
    padding-left: 3%;
}

#ISO{
    width: 60vw;
    padding: 0 1% 0 1%;
}

nav a, #userFullname, nav div{
    color: #062102;
    text-decoration: none;
    position: relative;
    z-index: 1;
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
    padding: 1.6% 0 1.7% 0;
}

#userFullname{
    text-align:left;
    width: 44%;
    margin-left: 1%;
    margin-top: 0.05%;
    margin-bottom: 0.05%;
  }

  #nav5, #nav6{
    width: 10%;
  }

  #nav2, #nav3, #nav4, #nav7, #nav8{
    width: 7%;
  }

  #TAHearingDistance, #TASpeech, #TAEyes, #TAEars, #TANose, #TAHead, #TAAbdomen, #TAGenitoUrinary, #TALymphGlands, #TASkin, #TAExtremities, #TADeformities, #TACavityAndThroat, #TALungs, #TAHeart, #TABreast, #TARadiologicExams, #TABloodAnalysis, #TAUrinalysis, #TAFecalysis, #TAPregnancyTest, #TAHBSAg{
    width: 100%;
    height: 5vh;
    overflow: hidden;
    resize: none;
    display: none;
}

#TxtOthers{
    height: 10vh;
    width: 100%;
    overflow: hidden;
    resize: none;
}

#TxtRemarks, #TxtRecommendation{
    height: 10vh;
    overflow: hidden;
    resize: none;
}

#TxtHearingDistanceOption, #TxtSpeechOption, #TxtEyesOption, #TxtEarsOption, #TxtNoseOption, #TxtHeadOption, #TxtAbdomenOption, #TxtGenitoUrinaryOption, #TxtLymphGlandsOption, #TxtSkinOption, #TxtExtremitiesOption, #TxtDeformitiesOption, #TxtCavityAndThroatOption, #TxtLungsOption, #TxtHeartOption, #TxtBreastOption, #TxtRadiologicExamsOption, #TxtBloodAnalysisOption, #TxtUrinalysisOption, #TxtFecalysisOption, #TxtPregnancyTestOption, #TxtHBSAgOption{
    height: 5vh;
    margin: 0;
}

  /* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin:  0;
    /* background-color: #299F7E; */
  }
  
  /* Dropdown Button */
  .dropbtn {
    font-weight: bold;
    border: none;
   /*  background-color: #299F7E; */
    color: #062102;
    position: relative;
    display: inline-block;
    text-align: center;
    vertical-align: middle; 
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 10vw;
    margin-top: 15%;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    text-decoration: none;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .dropA{
    padding: 0 6.25vw 0 1vw;
    border-bottom: 1px solid rgba(128, 128, 128, 0.438);
  }

  .dropdown-content a:nth-child(2), .dropdown-content a:nth-child(3), .dropdown-content a:nth-child(4), .dropdown-content a:nth-child(5), .dropdown-content a:nth-child(6), .dropdown-content a:nth-child(7){
    padding: 0 9vw 0 1vw;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown 
  .dropdown:hover .dropbtn {background-color: black;}*/
